@import '../../../assets/variables.scss';

.eachDivs {
    height: 200px;
    width:200px;
}

.container {
    display: flex;
    justify-content: center;
    gap:20px 20px;
    flex-wrap: wrap;
}

.top {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    border: 2px solid $grey;
}

p {
    text-align: center;
}
