

.grid{
    height: 150px;
    width: 150px;
}

.list {
    height: 50px;
    width: 50px;
}


.product {
    border: 2px solid black;
    min-width:250px;
}

.card-body {
    text-align: center;
}

.btn.active {
    background-color: #666;
    color: white;
  }