<app-header [pageName]="pageName"></app-header>

<main class="m-5 p-3">
    <div class="container pb-5">
        <div class="child child-border">
            <app-display-timer [timer]="timerData"></app-display-timer>
        </div>
        <div class="child child-border">
            <app-timer-limit (emitter)="setTimer($event)" (logs)="pushLogs($event)"></app-timer-limit>
        </div>
    </div>

    <div class="container pb-5">
        <div class="child">
            <app-display-logs [logs]="logs"></app-display-logs>
        </div>

        <div class="child">
            <app-timer-count [logs]="logs"></app-timer-count>
        </div>
    </div>
</main>